body {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}

body a {
    color: #000
}

header {
    display: flex;
    background-color: #000;
    color: #fff;
    width: 100%;
}

header a {
    color: #fff;
    text-decoration: none
}

header a:hover {
    color: #ccc;
}

header h1 {
    font-size: 0.75em;
    top: 100%;
}

.header-right,
.header-left {
    margin: 10px;
}

.header-left {
    display: flex;
    padding-left: 75%;
}

nav {
    position: position;
    width: 100%;
}

nav ul {
    list-style-type: none;
    position: sticky;
    top: 10px;
    padding-top: 2rem;
}

nav li {
    padding: 4% 0;
}

nav li a {
    text-decoration: none;
    display: block;
}

.wapper {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-gap: 10px;
    padding-top: .3%;
    width: 100%;
}

.banner img {
    width: 100%;
    height: 100%;
}

.logo {
    width: 240px;
    position: sticky;
    top: 0px;
}

.logo img {
    width: 60%;
    height: 60%;
    margin: 0% 10%;
    /* position: sticky;
    top: -44px; */
}

.title-top {
    text-align: center;
}

.title-top p {
    text-transform: uppercase;
    font-size: 2rem;
}

.title-top a,
.news-list a {
    text-decoration: none;
    display: block;
    color: #000
}

.mr {
    margin-right: 2%;
}

.product-block {
    display: inline-flex;
}

.product-list img,
.news img {
    width: 100%;
}

.product-list a {
    text-decoration: none;
}

.product-list {
    text-align: center;
    overflow: hidden;
    float: left;
    /* width: 23%; */
}

.news {
    display: grid;
    grid-template-columns: 32.33% 32.33% 32.33%;
    grid-gap: 1%;
    font-size: 140%;
}

.news-list {
    text-align: left;
}

.video video {
    width: 100%;
    height: 100%;
}

footer {
    display: flex;
    grid-gap: 0.5%;
    line-height: 1.5;
}

.footer-list {
    display: block;
    font-size: 0.8rem;
    color: rgb(120, 118, 118);
    width: 23%;
}

.mt {
    margin-top: 3rem;
}

.footer-list p {
    font-size: 1.2rem;
    color: #000;
}

.footer-list a {
    text-decoration: none;
}

.footer-list span {
    color: #000;
    font-size: 0.9rem;
    /* padding-top: 10px; */
}

.button-add {
    position: relative;
    transform: translateY(140px);
    transition: all linear 0.3s;
}

.product-list:hover .button-add {
    transform: translateY(0px);
}

.button-add button {
    width: 115px;
    color: white;
    background-color: black;
    border: 0px;
    height: 40px;
}


/****************** ProductDetails *********************/

.back-To-Top a {
    text-decoration: none;
    color: #ccc;
}

.show-product-details {
    display: flex;
    grid-gap: 1%;
    margin: 5px;
}

.show-product-details-img {
    width: 90%;
    border: 1px solid #ccc;
    text-align: center;
    float: left;
}

.show-product-details-right {
    width: 100%;
}

.ml {
    margin-left: 0.5rem;
}

.mb {
    margin-bottom: 1rem;
}

.show-product-details-img img {
    width: 50%;
}

.show-product-details-img .scale-img {
    text-align: center;
}

.show-product-details-right {
    width: 40%;
}

.product-price,
.product-size {
    display: block;
    padding: 3% 0;
}

.product-size label {
    border: 1px solid #000;
    display: inline-block;
    text-align: center;
    width: 5%;
    height: 5%;
    padding: 1%;
}

.btn-add-to-cart,
.btn-buy-now {
    text-align: center;
    padding: 2% 0;
}

.btn-add-to-cart a,
.btn-buy-now a {
    text-decoration: none;
}

.btn-add-to-cart button,
.btn-buy-now button {
    width: 100%;
    padding: 3% 20%;
    text-transform: uppercase;
}

.btn-buy-now button {
    background-color: #000;
}

.btn-buy-now button a {
    color: #fff;
}

.products-related {
    width: 100%;
}

.footer-list svg {
    width: 50px;
    height: 50px;
    margin: 30px 10px;
}


/* slide-show-product */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* banner slide */

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease-in-out;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}